.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.5)
}
.containerLoading {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 100px;
}