
.error {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 18px 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #FD5750;
  font-size: 18px;
}

.success {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  color: #78f542;
  font-size: 22px;
}

.containerRegister {}

.containerSignIn {}

.formType {
  display: flex;
  flex-direction: row;
  margin: 26px auto 0px auto;
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  text-transform: lowercase;
  user-select: none;
}

.formTypeRegister {
  display: flex;
  width: 50%;
  padding: 5px 40px 5px 0;
  justify-content: flex-end;
}

.formTypeRegister:hover {
  cursor: pointer;
}

.formTypeSignIn {
  display: flex;
  width: 50%;
  padding: 5px 0 5px 40px;
  text-align: left;
}

.formTypeSignIn:hover {
  cursor: pointer;
}

.formTypeActive {

}

.form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  width: 100%;
  margin: 10px auto 0 auto;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}


.formLabel {

}

.formInput {
}

.formInput::placeholder {

}

.formInput:focus {
}

.formError {
  margin: 10px 0 10px 0;
  color: #FD5750;
  font-size: 18px;
  line-height: 32px;
}

.formButton {
  margin: 16px auto 0 auto!important;
}

.formButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.formButton:active {
  cursor: pointer;
  transform: scale(1);
}

.forgotPassword {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px auto 5px auto;
  width: 100%;
  padding: 10px 0;
  font-size: 19px;
  color: rgba(255,255,255,0.6);
  transition: all 0.3s ease;
}

.forgotPassword:hover {
  cursor: pointer;
  color: rgba(255,255,255,1);
}

.githubLink {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 26px 0 40px 0;
}

.githubLink a {
  font-size: 20px;
  color: #FD5750;
  opacity: 0.7;
  transition: all 0.3s ease;
  text-decoration: none;
}

.githubLink:hover a {
  cursor: pointer;
  opacity: 1;
}