<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link
      rel="shortcut icon"
      href="favicon.ico"
    />
    <!-- CSS only -->

    <meta
      name="description"
      content="Access this page to retreive your digital boarding pass"
    />
    <title>Digital Boarding Pass</title>
    <script>
      window._airlineShortName="{{env.airline}}";
      window._passEnv="{{env.appEnv}}";
      window._apiUrl="{{env.passApiUrl}}";
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
